

.bus-list{
    font-family: "Roboto", sans-serif;
    width: 100%;
    padding: 10px 20px;
    height: 100%;
    position: relative;
}

.bus-list-heading{
    color: #01056c;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 1px #8080809d;
    margin-bottom: 10px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.all-buses-name{
    padding: 10px;
    height: 90%;
    overflow-y: scroll;
    list-style: none;
    text-decoration: none;
}
.all-buses-name::-webkit-scrollbar{
    display: none;
}
.individual-busname{
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 0px 10px 1px #8080809d;
    margin-bottom: 10px;
}
.individual-busname-top{
    padding: 0px 5px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    font-weight: 700;
}
.list-table{
    border: 2px solid red;
}
.bus-source{
    font-size: 20px;
    font-weight: 700;
    height: 50px;
    display: flex;
    align-items: center;
}
.bus-source img{
    width: 23px;
    margin-right: 5px;
}
.bus-Stop{
    height: 25px;
    display: flex;
    align-items: center;
    margin: 1px 10px;
    color: #6d6d6d;
}
.bus-Stop img{
  width: 23px;
  margin-right: 10px;
}
.dot{
    margin-left: 20px;
    border-left-style: dotted;
    height: 20px;
    border-color: #6d6d6d;
    display: flex;
    font-size: 20px;
    align-items: start;
}

.bus-edit-button{
    border: none;
    margin-right: 5px;
    border-radius: 5px;
    background-color: #03ae00;
    color: white;
    font-size: 15px;
    height: 30px;
    width: 30%;
    cursor: pointer;
}
.bus-price{
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: 600;
    margin-left: 2px;
}
.bus-price img{
    margin-bottom: 3px;
    margin-right: 5px;
    width: 22px;
}


/*  EDIT POPUP */
.EditPopup{
    overflow-y: scroll;
    font-family: "Roboto", sans-serif;
    box-shadow: 0px 0px 10px 1px #8080809d;
    border-radius: 5px;
    padding: 10px;
    width: 98%;
    height: 98%;
    position: absolute;
    top: 1%;
    left: 1%;
    z-index: 999;
    background-color: white;
}
.editbusheading{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #01056c;
    font-size: 2.5rem;
}
.EditPopup::-webkit-scrollbar{
    display: none;
} 
.bus-stoppages{
    height: 30px;
}

.edit-inpu-box{
    width: 100%;
    height: 60px;
    margin: 10px 0px;
    display: flex;
    justify-content: center;
    gap: 5%;
}
.inner-input-box{
    width: 100%;
}
.stoppage-input-box{
    display: flex;
    gap: 10px;
}
.inner-stoppage-input-box{
    width: 100%;
}
.stoppage-main-input{
    padding: 10px;
    width: 100%;
    border: 1px solid gray;
    border-radius: 5px;
    height: 25px;
    margin: 10px 0px;
}
.main-input{
    border: 1px solid gray;
    padding: 5px;
    height: 30px;
    width: 100%;
    border-radius: 5px;
    margin: 10px 0px;
}
.button-box{
    height: 40px;
    display: flex;
    align-items: center;
    gap:15px
    
}
.delet-edit-button{
    height: 30px;
    padding: 5px;
    background-color: #ff0000;;
    color: white;
    font-weight: 550;
    border: none;
    border-radius: 5px;
    width: 30%;
    transition-duration: .4s; 
}
.E-button{
   height: 30px;
   padding: 5px;
   background-color: #0da602;;
   color: white;
   font-weight: 550;
   border: none;
   border-radius: 5px;
   width: 30%;
   transition-duration: .4s;
}
.E-button:hover{
    box-shadow: 0px 0px 10px 1px #07054b5f; 
    cursor: pointer;
}
@media(max-width:600px){
    .stoppage-input-box{
        flex-direction: column;
    }
    .stoppage-main-input{
        margin: 5px 0px;
    } 
}
