.allbuses{
    font-family: "Rubik", serif;
   display: flex;
   justify-content: center;
}
.allbuses-main{
    width: 1500px;
    display: flex;
    height: 90vh;
}
.allbuses-filter{
    padding: 5px;
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
}
.allbuses-filter-heading{
    border: 2px solid rgb(171, 171, 171);
    margin-bottom: 10px;
    border-radius: 4px;
    display: flex;
    font-size: 30px;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    height: 40px;
}


.filter-sections{
    margin-bottom: 10px;
    border: 1px solid gray;
    padding: 5px;
    border-radius: 5px;
}
.filter-sections select{
    padding: 0px 5px;
    color: gray;
    border: none;
    border-bottom: 1px solid black;
}
.filter-sections select:focus, .filter-sections input:focus{
    outline: none;
}
.filter-sections-label{
    font-size: 15px;
}
.filter-sections input{
    border: none;
    padding: 0px 5px;
    border-bottom: 1px solid black;
    width: 100%;
}
.allbuses-show{
    padding: 10px;
    width: 87%;
}
.allbuses-topbar{
    padding: 0px 15px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -5px;
}
.allbuses-topbar-search{
    display: flex;
    align-items: center;
    width: 100%;
    height: 35px;

}
.allbuses-search-source{
   border-bottom: 2px solid gray;
   padding: 0px 10px;
   width: 40%; 
}
.allbuses-arrow{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.allbuses-arrow img{
    width: 20px;
}
.allbuses-arrow-date{
    color: gray;
    font-size: 12px;
    font-weight: 500;
    margin-top: -5px;
}
.all-buses-name{
    padding: 10px;
    height: 90%;
    overflow-y: scroll;
    list-style: none;
    text-decoration: none;
}
.all-buses-name::-webkit-scrollbar{
    display: none;
}
.individual-busname{
    background-color: white;
    border: 1px solid rgb(194, 194, 194);
    position: relative;
    display: flex;
    border-radius: 5px;
    padding: 6px;
    
    margin-bottom: 10px;
}
.individual-busname:hover{
    box-shadow: 0px 0px 5px 1px #616161b1;
    transition-duration: .3s;
}
.bus-left{
    width: 70%;
}
.bus-right{
    display: flex;
    flex-direction: column;
    justify-content: end;
    position : relative;
    width: 30%;
}
.book-ticket-button{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    width: 98%;
    bottom: 2%;
    color: #398c38;
    font-weight: 500;
    border: 2px solid #398c38;
    cursor: pointer;
    transition-duration: .5s;
}
.book-ticket-button:hover{
    background-color: #398c38;
    color: rgb(255, 255, 255);
}
.bus-type{
    color: #6b6b6b;
    font-size: 15px;
    font-weight: 500;
}
.bus-seat-available{
    font-weight: 600;
    color: rgb(255, 110, 25);
}
.bus-seat-available span{
    color: rgb(255, 110, 25);
    font-weight: 500;
    font-size: 15px;
    margin-left: 5px;
}
.bus-date{
    margin-top: 2px;
    color: #6b6b6b;
    font-size: 15px;
    font-weight: 500;
}
.bus-price{
    display: flex;
    align-items: center;
    padding: 5px 0px;
    font-size: 18px;
    font-weight: 500;
}
.bus-details-top{
    margin-bottom: 6px;
    gap: 10px;
    display: flex;
    align-items: center;
}
.busname{
    border: 2px solid #ff0159;
    border-radius: 4px;
    color: #ff0159;
    padding: 0px 25px;
    font-size: 20px;
    display: flex;
    align-items: center;
    height: 27px;
    font-weight: 500;
    background-color: #ffe6ee;

}
.busnumber{
    border: 2px solid rgb(52, 3, 117);
    border-radius: 4px;
    color: rgb(55, 1, 122);
    padding: 0px 25px;
    align-items: center;
    display: flex;
    height: 27px;
    font-size: 20px;
    font-weight: 500;
    background-color: rgb(236, 218, 255);
}
.detials-main{
    border: 1px solid green;
}
.bus-source{
    font-size: 16px;
    font-weight: 700;
    height: 30px;
    display: flex;
    align-items: center;
}
.bus-source img{
    width: 15px;
    margin-right: 5px;
}
.bus-stops-box{
    margin: 0px 23px;
}
.bus-Stop{
    height: 17px;
    display: flex;
    align-items: center;
    color: #858585;
    font-weight: 500;
    font-size: 15px;
}
.bus-Stop img{
  width: 15px;
  margin-right: 10px;
}
.dot{margin: 0px 8px;
    border-left-style: dotted;
    height: 10px;
    border-color: #6d6d6d;
    display: flex;
    font-size: 20px;
    align-items: start;
}

.bus-edit-button{
    border: none;
    margin-right: 5px;
    border-radius: 5px;
    background-color: #03ae00;
    color: white;
    font-size: 15px;
    height: 30px;
    width: 30%;
    cursor: pointer;
}
.vertical-line{
    height: 96%;
    right: 32%;
    bottom: 2%;
    position: absolute;
    border-right: 2px dashed #b0b0b0;
}
.bus-price img{
    width: 20px;
    margin-right: 5px;
    padding-top: 4px;
}


