.booknow{
    font-family: "Rubik", serif;
    display: flex;
    justify-content: center;

}
.booknow-main{
    display: flex;
    width: 1500px;
    height: 90vh;

}
.booknow-left{
    padding: 10px;
    width: 50%;
    border-right: 1px solid gray;
}
.booknow-left-busdetails{
    border-bottom: 1px solid black;
}
.bus-name{
    color: rgb(18, 0, 133);
    border-bottom: 1px solid gray;
    font-size: 50px;
    font-weight: 800;
}
.bus-constant{
    margin-top: 3px;
    font-size: 15px;
}
.bus-leftseats{
    font-size: 17px;
    color: rgb(255, 136, 0);
    font-weight: 600;
    margin-bottom: 2px;
}



.booknow-left-passenger{
    position: relative;
    border-bottom: 1px solid gray;
    padding: 10px;
}
.passengerform{
    position: absolute;
    background-color: white;
    top: 0;
    border: 2px solid red;
    height: 100%;
    padding: 10px;
}
.add-passenger-btn{
    border: 2px dashed gray;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.add-passenger-btn img{
   width: 23px;
}
.booknow-passenger-section{
    display: flex;
    gap: 10px;
}
.passenger-details-heading{
    border-bottom: 1px solid gray;
    height: 30px;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
}
.booknow-passenger-section-input{
    width: 100%;
}
.booknow-passenger-section-input input{
    width: 100%;
    border: 1px solid gray;
    border-radius: 5px;
}

.bus-booked-button{
    padding: 3.7px;
    width: 120px;
    border: none;
    margin-left: 10px;
    margin-top: 1px;
    border-radius: 4px;
    align-items: center;
    background-color: rgb(1, 182, 1);
    color: white;
    font-weight: 600;
}
.bus-seat-button{
    border-bottom: 1px solid rgb(86, 86, 86);
    padding: 10px;
}
.booknow-right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.disabled{
    background-color: gray;
    cursor: not-allowed !important;
    opacity: 0.6;
}
.bus-seats-info{
    border-top: 1px solid rgb(118, 118, 118);
    padding: 10px;
}
.bus-seats-info img{
    width: 35px;
    padding: 3px;
    margin-right: 2px;
}
.bus-seats-info span{
    font-weight: 500;
    color: rgb(72, 72, 72);
}