/* Spinner */

.spinner-parent{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(158, 160, 169, 0.193);
    z-index: 999;;
}
.spinner{
    background-color: white;
    width: 15%;
    border: 5px solid rgb(8, 226, 8);
    border-radius: 50%;
    padding: 10px;
}


/* Facilities */
.facility{
    border: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}
.facility-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    width: 90%;
    height: 180px;
}
.facility-main-box{
    border: 1px solid green;
    width: 150px;
    height: 180px;
}

/* Default Layout */

.layout{
    display: flex;
    height: 90vh;
}
.sidebar-box{
    border: 1px solid rgb(123, 123, 123);
    width: 30%;
    height: 100%;
}
.main-page{
    width: 70%;
    height: 100%;
}
