.header{
    font-family: "Rubik", serif;
    height: 75vh; 
    display: flex;
    justify-content: center;
}
.main-header{
  position: relative;
  width: 1500px;
  overflow: hidden;
}
.background{
    height: 88px;
    background-image: url('../assets/headerbackground.png');
    background-repeat: no-repeat;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    width: 110%;
}
.bus{
    position: absolute;
    bottom: -56px;
    left: -150px;
    z-index: 999;
    width: 180px;
    display: flex; 
    animation: moveRight 10s linear infinite;/* Adjust the time as needed */
    animation-duration: 20s;

}
.banner{
    height: 70%;
    display: flex;
}
.banner-heading{
        padding: 0px 20px;
        height: 90%;
        width: 80%;
        margin-bottom: 10px;
        align-content: center;
        width: 50%;
}
.banner-heading h1{
    font-size: 59px;
    align-content: center;
    height: 70px;
    font-weight: 700;
    color: rgb(197, 0, 76);
}
.banner-heading p{
    margin-top: -5px;
    font-size: 30px;
    font-weight: 600;
    color: rgb(1, 103, 193);
}
.book-button:hover{
    background-color: rgb(1, 74, 170);
    color: white;
    transition-duration: .4s;
}
.banner-search{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;

}
.banner-search-main{
    padding: 20px 20px;
    box-shadow: 0px 0px 10px 1px #5293d4af;
    border-radius: 5px;
    height: 250px;
    width: 90%;
}
.search-heading{
    margin-top: -8px;
    display: flex;
    font-size: 25px;
    font-weight: 600;
    align-items: center;
    height: 40px;
}
.search-input-box{
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}
.search-input{
    display: flex;
    align-items: center;
    border: 2px solid rgb(1, 8, 98);
    height: 35px;
    width: 100%;
    border-radius: 5px;
}
.search-input img{
   height: 25px;
   width: 25px;
   padding: 4px;
}
.search-input input{
    border-radius: 5px;
    border: none;
    width: 100%;
    height: 100%;
}
.search-input input:focus{
    outline: none;
}
.source-location{
    width: 20px;
    height: 20px;
}
.search-button{
    margin-top: 10px;
    width: 100%;
    height: 35px;
    border-radius: 5px;
    color: white;
    border: none;
    background-color: red;
    cursor: pointer;
}
.book-button{
    color: rgb(1, 1, 117);
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
    border: 3px solid rgb(1, 1, 117);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 40%;
    background-color: white;
    border-radius: 10px;
} 

@keyframes moveRight {
    0% {
      transform: translateX(0); /* Start position */
    }
    100% {
      transform: translateX(115vw); /* Move to the full width of the viewport */
    }
  }

@media(max-width: 1200px){
    .banner-heading h1{
       font-size: 43px; 
    }
    .banner-heading p{
        font-size: 25px;
    }
}
@media(max-width:900px){
    .header{
        height: 80vh;
    }
    .banner{
        height: 80%;
        flex-direction: column;
        align-items: center;
    }
    .banner-heading{
        height: 40%;
        width: 80%;
        margin-bottom: 10px;
        align-content: center;
        justify-items: center;
    }
    .banner-search{
        width: 80%;
    }
    .banner-search-main{
        margin-top: 20px;
        height: 220px;
        width: 100%;
    }
    .book-button{
        color: rgb(1, 1, 117);
        margin-top: 10px;
        font-size: 16px;
        font-weight: 500;
        border: 3px solid rgb(1, 1, 117);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 35px;
        width: 40%;
        background-color: white;
        border-radius: 10px;
    }  
}

@media(max-width: 600px){
    .banner-heading h1{
         font-size: 35px;
         height: 60px;
    }
    .banner-heading{
        height: 40%;
    }
    .search-heading{
        font-size: 21px;
    }
}
@media(max-width: 430px){
    .banner-heading h1{
         font-size: 27px;
    }
    .banner-heading p{
        font-size: 17px;
    }
    .banner-heading{
        height: 40%;
        width: 90%;
    }
    .search-heading{
        font-size: 15px;
    }
    .book-button{
        font-size: 14px;
        font-weight: 500;
        height: 25px;
        width: 35%;
        border-radius: 5px;
    } 
    .banner-search-main{
        height: 200px;
    }
    .search-input img{
        height: 15px;
        width: 15px;
    }
    .search-input{
        height: 28px;
    }
    
}


