.mydetails{
    position: relative;
    font-family: "Rubik", serif;
    padding: 10px;
    
}
.mydetails-inner, .eddit-popup-main{
    border-radius: 5px;
    box-shadow: 0px 0px 10px 1px #8080809d;
    
}
.mydetails-inner-heading, .eddit-popup-heading{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:5px ;
    box-shadow: 0px 0px 10px 1px #8080809d;
    height: 70px;
}
.mydetails-inner-heading h1, .eddit-popup-heading h1{
    margin-top: 15px;
   font-weight: 700;
   font-size: 40px;
   color: rgb(0, 0, 92);
}
.mydetails-box{
    height: 100px;
    padding: 15px;
    display: flex;
    gap: 10px;
}
.mydetails-inner-box{
    width: 100%;
}
.mydetails-inner-box p{
  margin-top: -3px;
  border-bottom: 1px solid gray;
  font-size: 20px;
  font-weight: 600;
}
.mydetails-inner-box label{
    font-size: 15px;
    font-weight: 600;
}
.mydetails-edit-button, .remove-button{
    color: white;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 50%;
    background-color: rgb(3, 171, 3);
}
.mydetails-delet-button, .remove-cancle-button{
    color: white;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 50%;
    background-color: rgb(229, 0, 0);
}
/* EDIT POPUP */

.eddit-popup{
    padding: 10px;
    border: 1px solid black;
    background-color: white;
    position: absolute;
    top: 0;
    margin-left: -10px;
    height: 100%;
    width: 100%;
}
.edit-main-input{
    padding: 6px;
    border-radius: 5px 5px 0px 0px;
    border-right: none;
    border-top: none;
    border-left: none;
    border-bottom: 2px solid rgb(1, 1, 105);
    height: 30px;
}
.edit-main-input:focus{
    outline: none;
}

/* Remove Account*/

.remove-account{
    background-color: rgba(120, 120, 120, 0.273);
   
    border: 1px solid black;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.remove-account-main{
    border-radius: 5px;
    background-color: white;
    justify-content: center;

    width: 60%;
}
.remove-account-main-inner{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.remove-account-main-inner p{
    margin: 15px 0px;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.remove-account-warning{
    width: 50px;
}
.remove-box{
    width: 100%;
    display: flex;
    gap: 10px;
}