.myfamily{
    padding: 10px;
    position: relative;
    height: 100%;
}
.myfamily-heading{
    border: 1px solid rgb(150, 150, 150);
    box-shadow: 0px 0px 5px 1px #808080ad;
    border-radius: 5px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    padding-bottom: 7px;
    font-weight: 700;
    margin-bottom: 10px;
    color: rgb(255, 32, 88);
}

.myfamily-main{
    padding: 10px;
    margin: 0px -10px;
    overflow-y: scroll;
    height: 89%;
}
.member-box{
    border: 1px solid rgb(150, 150, 150);
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px #808080ad;
    padding: 10px;
    margin-bottom: 10px;
}
.addmember{
    border: 2px dashed rgb(150, 150, 150);
    margin: 0pc 3px;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.addmember img{
    width: 30px;
}

.addmemberform{
    padding: 10px;
    border: 1px solid black;
    position: absolute;
    background-color: white;
    top:0px;
    left: 0;
    width: 100%; 
}
.member-input-sections{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.member-input-sections-inputs{
    font-size: 15px;
    font-weight: 500;
    width: 100%;
}
.member-input-sections-inputs input{
    width: 100%;
    border: 1px solid gray;
    padding: 1px 10px;
    border-radius: 4px;
}
.addmember-button{
    display: flex;
    padding: 10px 0px;
    gap: 10px;
    font-weight: 500;
}
.addmember-button-save{
    border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    color: white;
    border-radius: 5px;
    width: 30%;
}
.addmember-button-cancle{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 0, 0);
    color: white;
    border-radius: 5px;
    width: 30%;
}
.member-box-main{
    display: flex;
    gap: 10px;
}
.member-inner-box{
    border-bottom: 1px solid rgb(72, 72, 72);
    width: 100%;
    font-weight: 600;
}
.member-inner-box label{
    font-size: 12px;
}
.member-box-main-buttons{
    display: flex;
    padding: 10px 0px;
    gap: 10px;
}
.member-update-button{
    border: 1px solid green;
    width: 30%;
    background-color: green;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}
.member-delete-button{
    width: 30%;
    background-color: rgb(255, 0, 0);
    border-radius: 5px;
    color: white;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}
.edit-main-input{
    font-weight: 500;
    color: rgb(88, 88, 88);
}
.edit-main-input-gender{
    width: 42%;
    border: none;
    border-bottom: 2px solid rgb(1, 10, 83);
}
.edit-main-input-gender:focus{
     outline: none;
}
p{
    margin-bottom: 0;
}