.seat-selection{
    padding: 20px;
    width: 350px;
}

.seats-container{
    background-color: white;
    border: 2px solid rgb(186, 186, 186);
    border-radius: 20px 20px 5px 5px;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.seats-container-upper{
  display: flex;
  padding: 5px 10px;
  height: 107px;
  width: 100%;
  border-bottom: 1px dashed gray;
}
.seat-container-upper-stair{
    height: 50px;
    width: 70px;
    display: flex;
    align-items: center;
    background-color: rgb(220, 255, 255);
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
}
.seat-container-upper-stair img{
    transform: rotate(-90deg);
    margin-left: -9px;
}
.seat-container-upper-condacter{
    height: 50px;
    display: flex;
    align-items: center;
}
.seats-container-upper-left{
    width: 50%;
}
.seats-container-upper-left img{
   width: 40px;
}
.seats-container-upper-right{
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 20px;
    gap: 5px;
    width: 50%;
}
.seats-container-upper-right-steering img{
    width: 40px;
}
.seats-container-upper-right-driver img{
    width: 40px;
}
.seats-container-lower{
    
    display: flex;
    flex-direction: column;
    width: 100%;
    
}
.seat-row{
    display: flex;
    gap: 10px;
    margin-left: -5px;
    width: 100%;
}
.seat-column{

    position: relative;
    border-radius: 5px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}
.seat-column img{
    width: 30px;
}
.seat{
    background-image: url(../assets/availableseat.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    width: 40px;
    height: 40px;
    font-weight: 500;
}
.seat-number{
    font-size: 15px;
    font-weight: 700;
    display: flex;
    justify-content: center;
}


.selected-seat{
    background-image: url(../assets/selectseat.png);
    color: rgb(253, 3, 3)
}

.booked-seat{
    background-image: url(../assets/bookedseat.png);
    color: white;
    pointer-events: none  !important;
    cursor: disabled !important;

}
