.sidebar{
    background-color: #ffdaaf3c;
    width: 100%; 
    border-top: 0;
    font-size: max(1vw,10px);
    height: 100%;
    
}

.sidebar-profile{
    display: flex;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
}
.sidebar-profile img{
    width: 50px;
}
.sidebar-profile p{
    font-weight: 500;
    margin-top: 12px;
    font-size: 25px;   
}

.sidebar-options{
    padding-left: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sidebar-option img{
    width: 30px;
}
.sidebar-option{
    font-size: 16px;
    font-weight: 700;
    color: black;
    border: 3px solid rgba(2, 6, 120, 0.999);
    display: flex;
    background-color: rgb(175, 216, 240);
    align-items: center;
    gap: 20px;
    border-right: 0;
    padding: 7px 10px;
    border-radius: 10px 0px 0px 10px;
    cursor: pointer;
    text-decoration: none;
}
.sidebar-option.active{
    background-color: #ffd8d8e5;
    border: 3px solid rgb(255, 4, 4);
    border-right: none;
    border-radius: 10px 0px 0px 10px;
}
@media (max-width:500px){
    .sidebar-option p{
          display: none;  
    }
}